{% extends "layouts/base.twig" %}
{% set pageName = 'Index' %}


{% block pageHeader %}
  {% include 'partials/header.twig' %}
{% endblock %}


{% block pageContent %}
  
  {% include 'partials/sections/hero.twig' %}
  
  {% include 'partials/sections/who.twig' %}
  
  {% include 'partials/sections/services.twig' %}
  
  {% include 'partials/sections/portfolio.twig' %}
  
  {% include 'partials/sections/brands.twig' %}
  
  {% include 'partials/sections/reviews.twig' %}
 
  <h1>Hello <span class="js-greeting"></span></h1>
  
  <h3>Red</h3>
  
<!--  <div id="particles-js"></div>-->
{% endblock %}