{% extends "layouts/base.twig" %}
{% set pageName = 'Index' %}


{% block pageHeader %}
  {% include 'partials/header.twig' %}
{% endblock %}


{% block pageContent %}
  
  {% include 'partials/sections/hero.twig' %}
 
  <h1>Hello <span class="js-greeting"></span></h1>
  
  <h3>Red</h3>
  
  <div id="particles-js"></div>
{% endblock %}