// Single brand box

$clr-border: rgba(0, 0, 0, .05);
$clr-border-hover: rgba(0, 0, 0, .14);
$clr-text: #20103e;
$clr-bg: $color-lightest-grey;
$clr-bg-hl: $color-red;

.c-brandbox {
  --opacity: .2;
  
  position: relative;
  height: 24.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: $clr-bg;
  border: 1px solid $clr-border;
  
  transition: box-shadow .25s;
  box-shadow: 42px 42px 0px -45px $clr-bg-hl;

  > * {
    opacity: var(--opacity);
    transition: opacity .25s;
  }
  
  &:hover {
    --opacity: 1;
    border-color: $clr-border-hover;
    box-shadow: 42px 42px 0px -30px $clr-bg-hl;
  }
}

.c-brandbox__logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  img {
    align-self: center;
  }
}

.c-brandbox__title {
  margin-top: auto;
  color: $clr-text;
}

@include bp-middle {
  .c-brandbox {
    &:hover {
      box-shadow: -12px 13px 0px -9px $clr-bg-hl;
    }
  }
}


