// Folio carousel
$clr-bg: $color-red;

.c-folio__carousel-list {
  position: relative;
  overflow: visible !important; // i'm so sorry
  pointer-events: none;
  width: 100%;
  height: 0;
  padding-bottom: 83%;
  
  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 91.1%;
    position: absolute;
    top: 9rem;
    right: -3rem;
    background: $clr-bg;
    z-index: -1;
  }
}

.c-folio__carousel-item {
  background-size: cover;
  background-position: top center;
  padding-bottom: 83%;
}

@include bp-middle {
  .c-folio__carousel-list {
    &:after {
      right: -3rem;
      left: -3rem;
      width: auto;
//      width: 100%;
    }
  } 
}