// Folio carousel
$clr-bg: $color-red;
$clr-text: $color-white;
$clr-arrow: $color-dark-grey;
$clr-arrow-active: $color-red;
$clr-dot: $color-white;

.c-folio__carousel-list {
  position: relative;
  overflow: visible !important; // i'm so sorry
  pointer-events: none;
  width: 100%;
  height: 0;
  padding-bottom: 83%;
  
  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 91.1%;
    position: absolute;
    top: 9rem;
    right: -3rem;
    background: $clr-bg;
    z-index: -1;
  }
}

.c-folio__carousel-item {
  background-size: cover;
  background-position: top center;
  padding-bottom: 83%;
}

.c-folio__carousel-controls {
  display: flex;
  align-items: center;
  height: 9rem;
  width: 100%;
}

.c-folio__carousel-buttons {
  display: flex;
}

.c-folio__carousel-button {
  height: 2.5rem;
  width: 2.5rem;
  
  path {
    fill: $clr-arrow;
    transition: fill .25s;
  }
  
  &:active path,
  &:hover path {
    fill: $clr-arrow-active;
  }
}

.c-folio__carousel-title {
  max-width: 45rem;
  font-size: 2rem;
  font-weight: 500;
  color: $clr-text;
  line-height: 1.2;
  margin: .5rem 0 0 0;
  padding-left: 5rem;
}

.c-carousel__dots {
  margin-left: auto;
  margin-right: 2rem;
}

.c-carousel__dot {
  position: relative;
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background: $clr-dot;
  padding: 0;
  margin: 0 .6rem;
  opacity: .6;
  
  &:hover,
  &:active,
  &.-active {
    opacity: 1;
  }
}

@include bp-middle {
  .c-folio__carousel-list {
    &:after {
      right: -3rem;
      left: -3rem;
      width: auto;
    }
  } 
  
  .c-carousel__dots {
    display: none;
  }
  
  .c-folio__carousel-title {
    max-width: 90%;
  }
  
  .c-folio__carousel-button {
    path {
      fill: $clr-text;
    }
    
    &:hover path,
    &:active path {
      fill: $clr-text;
    }
  }
}

@include bp-small {
  .c-folio__carousel-title {
    font-size: 1em;
  }
}
