// Single service card

$clr-text: $color-black;
$clr-text-inv: $color-white;
$clr-bg: $color-white;
$clr-bg-red: $color-red;
$clr-bg-black: $color-black;
$clr-shadow: $color-lightest-grey;
$clr-border: $color-light-grey;

.c-card {
  border: .1rem solid $clr-border;
  padding: 3.4rem;
  color: $clr-text;
  background: $clr-bg;
  
  &.-red {
    color: $clr-text-inv;
    background: $clr-bg-red;
    
    .c-card__title {
      color: $clr-text-inv;
    }
  }
  
  &.-black {
    color: $clr-text-inv;
    background: $clr-bg-black;
  }
  
  &.-shadowed {
    position: relative;
    box-shadow: -3rem 3rem 0px -1rem $clr-shadow;
  }
}

.c-card__icon {
  font-size: 4.5rem;
  line-height: 1.2;
}

.c-card__title {
  margin: 2rem 0 2.8rem 0;
  line-height: 1.2;
}

.c-card__description {
  margin-bottom: 0;
}








