// Footer

$clr-bg: $color-white;
$clr-text: $color-black;
$clr-text-copy: rgba($color-black, .3);

.c-footer {
  position: relative;
  font-size: 2.5rem;
  color: $clr-text;
  line-height: 1.5;
  margin-top: -2.5rem;
  background: $clr-bg;
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $clr-bg;
    transform: skew(0, -7.43deg);
    transform-origin: 0;
  }
}

.c-footer__content {
  position: relative;
  
  * {
    z-index: 1;
  }
}

.c-footer__logo {
  width: 6rem;
}

.c-footer__cta {
  font-size: 6rem;
  font-weight: 500;
  color: $clr-text;
  line-height: 1;
  margin-top: 3rem;
  
  .c-link {
    --colour: $color-black;
    --fs: 1em;
    
    &:hover:after {
      height: 120%;
    }
  }
}

.c-footer__email.c-link {
  --fs: 3rem;
  --border-color: $color-black;
}

.c-footer__highlight {
  text-align: center;
  
  .c-emoji-accent {
    margin-right: 5rem;
  }
}

.c-footer__copy {
  font-size: 1.4rem;
  color: $clr-text-copy;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

@include bp-middle {
  .c-footer {
    padding-top: 5rem;
    padding-bottom: 7rem;
    text-align: center;
  }
  
  .c-footer__cta {
    margin-top: 0;
    margin-bottom: 6rem;
  }
  
  .c-footer__highlight {
    display: none;
  }
  
  .c-footer__copy {
    padding-top: 5rem;
  }
}

@media screen and (max-width: $bp-middle), screen and (max-height: 45rem) {
//@media screen and (max-height: 45rem) {
  .c-footer {
    position: static;
    padding-top: 30rem;
    margin-top: -20rem;
  }
}
