.c-link {
  --colour: $color-red;
  --border-color: $color-red;
  --fs: 2.5rem;
  --hover-colour: $color-white;
  --padding: 1rem;
  
  position: relative;
  font-size: var(--fs);
  color: var(--colour);
  text-decoration: none;
  padding-bottom: var(--padding);
  font-weight: 500;
  transition: color .25s;
  
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: calc(var(--padding) / 2);
    left: 0;
    bottom: calc(var(--padding) / -2);
    background: var(--border-color);
    transition: height .25s;
    z-index: -1;
  }
  
  &:hover {
    color: var(--hover-colour);
  }
  
  &:hover:after {
    height: calc(100% + var(--padding) + var(--padding));
    height: 150%;
  }
}