// Header navigation
$clr-nav-link: $color-white;

.c-nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.c-nav__list-item {
  font-size: 1.5rem;
  padding-right: 5rem;
  margin: 0;
}

.c-nav__link {
  color: $clr-nav-link;
  text-decoration: none;
  transition: all .25s;
  
  &:hover {
    font-size: 1.2em;
    color: $clr-nav-link;
  }
}

.c-nav__logo {
  width: 8.5rem;
}

@include bp-small {
  .c-nav {
    text-align: center;
  }
  
  .c-nav__list {
    flex-wrap: wrap;
  }
  
  .c-nav__list-item {
    min-width: 25%;
    flex: 0 0 25%;
    padding: 0 2rem;
    
    &.-logo {
      min-width: 100%;
    }
  }
  
  .c-nav__link {
    &:hover {
      font-size: 1em;
    }
  }
}