// Portfolio section
$clr-highlight: $color-black;

.c-folio {
  position: relative;
  top: -50.5rem;
}

.c-folio__heading {
  &.c-numbered {
    --line-colour: $color-black;
    --line-length: 11.4rem;
    --number-colour: $color-red;
  }
}

.c-folio__content {
  .u-enlarged {
    color: $clr-highlight;
    margin-bottom: 3.5rem;
  }
}

.c-folio__slider {
  
}

.c-folio__text {
  .c-link {
    --border-color: $color-black;
    --fs: 1em;
    --padding: .5rem;
  }
}