// Services section

$clr-bg: $color-white;
$gap: $global_grid-gap;
$clr-section-number: $color-red;
$clr-section-line: $color-black;

.c-services {
  background: $clr-bg;
}

.c-services__content {
  position: relative;
  top: -10.5rem;
  display: grid;
  grid-gap: $gap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "eyes heading heading"
    "bulb red     seo"
    "img  rocket  black";
}

.c-services__title {
  grid-area: heading;
  justify-self: end;
  align-self: end;
  padding-bottom: 2rem;
  
  &:before {
    counter-increment: section;
    content: "0"counter(section)".";
    display: block;
    position: absolute;
    right: 0;
    top: 7.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: $clr-section-number;
  }
  &:after {
    content: '';
    display: block;
    height: 11.4rem;
    width: .4rem;
    position: absolute;
    right: 1.8rem;
    top: -6rem;
    background: $clr-section-line;
    margin-bottom: 1rem;
  }
}

.c-service:nth-of-type(1) {
  grid-area: eyes;
}

.c-service.-shadowed {
  grid-area: rocket;
}

.c-service.-image {
  border: none;
  padding-top: 6rem;
  grid-area: img;
}

@include bp-middle {
  .c-services__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "heading heading"
      "eyes    bulb"
      "red     seo"
      "img     rocket"
      "black   black";
  }
}

@include bp-small {
  .c-services__content {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "heading"
      "eyes"
      "bulb"
      "red"
      "seo"
      "rocket"
      "black";
  }
  
  .c-service.-image {
    display: none;
  }
}