// wiuh text in quote section

$clr-text: $color-lightest-grey;

.c-wiuh {
  width: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 1rem;
  overflow: hidden;
  
  &__image {
    max-width: 100%;
  }
}

@include bp-middle {
  .c-wiuh {
    width: 75%;
    padding-bottom: 0;
    margin-top: 0;
    
    &__image {
      transform: translateY(30%);
    }
  }
}