<div class="o-wrapper u-unskew c-footer__content">
  <div class="o-grid -bottomed">
    <div class="o-grid__item o-grid__item--4-12">
      <a href="" class="">
        <img src="../assets/images/logo.png" alt="" class="c-footer__logo">
      </a>
      <p class="c-footer__cta">
        Don't be shy <br>
        <a href="" class="c-link">Let's talk</a>
      </p>
    </div>
    <div class="o-grid__item o-grid__item--4-12">
      ✌️
    </div>
    <div class="o-grid__item o-grid__item--4-12">
      <a href="" class="c-social -facebook">
        <span class="u-visuallyhidden">
          Find us on Facebook
        </span>
      </a>
      <a href="" class="c-social -twitter">
        <span class="u-visuallyhidden">
          Follow us on Twitter
        </span>
      </a>
      <p>Say hello <br>
      <a href="mailto:hello@wiuh.co" class="c-link c-footer__email">hello@wiuh.co</a></p>
    </div>
  </div>
</div>