<a href="" class="">
   <img srcset="assets/images/logo@2x.png 2x" 
        src="assets/images/logo.png" 
        alt="Return to Wiuh homepage" 
        class="c-nav__logo">
</a>

<span class="c-header__cta">
 say hello / 
  <a href="mailto:hello@wiuh.co" class="c-header__link">
    hello@wiuh.co
  </a>
</span>