<nav class="c-nav">
  <ul class="c-nav__list">
    <li class="c-nav__list-item -logo">
      <a href="" class="">
         <img srcset="assets/images/logo@2x.png 2x" 
              src="assets/images/logo.png" 
              alt="Return to Wiuh homepage" 
              class="c-nav__logo">
      </a>
    </li>
    <li class="c-nav__list-item">
      <a href="" class="c-nav__link">Intro</a>
    </li>
    <li class="c-nav__list-item">
      <a href="" class="c-nav__link">About</a>
    </li>
    <li class="c-nav__list-item">
      <a href="" class="c-nav__link">Services</a>
    </li>
    <li class="c-nav__list-item">
      <a href="" class="c-nav__link">Contact</a>
    </li>
  </ul>
</nav>

<a href="mailto:hello@wiuh.co" class="c-header__link">
  hello@wiuh.co
</a>