<div class="c-sectiondots js-sectiondots">
  <div class="c-sectiondots__item -active js-sectiondot"></div>
  <div class="c-sectiondots__item js-sectiondot"></div>
  <div class="c-sectiondots__item js-sectiondot"></div>
  <div class="c-sectiondots__item js-sectiondot"></div>
  <div class="c-sectiondots__item js-sectiondot"></div>
</div>