{% block html_head_container %}

  {% include 'partials/html-header.twig' %}
  
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
  <header class="c-header o-wrapper">
    {% block pageHeader %}
      No header found :(
    {% endblock %}
  </header>
 
  <main class="c-main">
    {% block pageContent %}
      Sorry, no content.
    {% endblock %}
  </main>

  {% block pageFooter %}
    <footer class="c-footer">
      {% include 'partials/footer.twig' %}
    </footer>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="scripts/{{ assetPath('appear.min.js') }}"></script>
    <script src="scripts/{{ assetPath('Wallop.min.js') }}"></script>
    <script src="scripts/{{ assetPath('bundle.js') }}"></script>
  {% endblock %}
</body>
</html>
