// Colors
$color-white: #fff;
$color-black: #000;

$color-lightest-grey: #f0f4f7;
$color-light-grey: #f5f5f5;
$color-middle-grey: #c0c3c6;
$color-dark-grey: #b2b2b2;
$color-darkest-grey: #787a7b;

$color-dusty-pink: #dd7885;
$color-dusty-purple: #b1afbf;
$color-red: #fa0022;

// Text
$color-text: $color-dark-grey;
$color-heading: $color-darkest-grey;

// BG and Borders
$color-bg: $color-lightest-grey;
$color-border: $color-light-grey;
