<section class="c-brands">
  <div class="o-wrapper c-brands__content">
    <div class="c-brands__header o-grid -bottomed -justified">
      <h2 class="o-grid__item">We work <br>with any brands</h2>    
      <p class="o-grid__item">We are always open to the <a href="">new clients</a></p>
    </div>
    <div class="o-grid -stretched">
      <div class="o-grid__item">
         <div class="c-brandbox">
           <div class="c-brandbox__logo">
             <img src="../assets/images/logos/casino-heroes.png" alt="Casino Heroes logo">
           </div>
           <h4 class="c-brandbox__title">
             Casino Heroes
           </h4>
         </div>
      </div>
      <div class="o-grid__item">
         <div class="c-brandbox">
           <div class="c-brandbox__logo">
             <img src="../assets/images/logos/guts.png" alt="Guts Casinos logo">
           </div>
           <h4 class="c-brandbox__title">
             Guts Casinos
           </h4>
        </div>
      </div>
      <div class="o-grid__item">
         <div class="c-brandbox">
           <div class="c-brandbox__logo">
             <img src="../assets/images/logos/ninja.png" alt="Ninja Casino logo">
           </div>
           <h4 class="c-brandbox__title">
             Ninja Casino
           </h4>
        </div>
      </div>
      <div class="c-brandbox__highlight js-highlight"></div>
    </div>
  </div>
</section>