<section class="c-hero u-skew">
  <div class="c-hero__content u-unskew o-wrapper">
    <span class="c-hero__accent" aria-hidden="true">
      ✋
    </span>
    <small class="c-hero__preheading">
      hello
    </small>
    <h1 class="c-hero__heading">
      We are <span class="u-highlight">brand strategy</span> and digital design agency, <span class="u-highlight">building everything</span> that matter in culture.
    </h1>
  </div>
  
  <div class="c-hero__bg" id="particles-js"></div>
</section>