<section class="c-office u-skew">
  <div class="o-wrapper u-unskew c-office__content o-grid">
    <div class="o-grid__item o-grid__item--2-12">
      <h2 class="c-numbered">Office</h2>
      <p>Tartu mnt 89 <br>
         10239 Mustamäe <br>
         Tallinn, Estonia
      </p>
      <p>
        <a href="">view on map</a>
      </p>
    </div>
  </div>
</section>