<section class="c-office u-skew">
  <div class="o-wrapper u-unskew c-office__content">
    <div class="c-office__address">
      <h2 class="c-numbered">Office</h2>
      <p>Tartu mnt 89 <br>
         10239 Mustamäe <br>
         Tallinn, Estonia
      </p>
      <p>
        <a href="">view on map</a>
      </p>
    </div>
    <div class="c-bleedout -right">
      <div class="c-bleedout__image"
           style="background-image: url(../assets/images/contact.jpg);"></div>
    </div>
  </div>
</section>