<section class="c-folio u-skew">
  <div class="o-wrapper u-unskew c-folio__content">
    <h2 class="c-folio__heading c-numbered">Portfolio</h2>
    
    <div class="o-grid">
      <div class="c-folio__slider o-grid__item o-grid__item--8-12">
        
      </div>
      <div class="c-folio__text o-grid__item o-grid__item--4-12">
        <h3>Liked?</h3>
        <p class="u-enlarged">Then we can <a href="" class="c-link">work together</a></p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's standard</strong> dummy text.</p>
      </div>
    </div>
  </div>
</section>