<section class="c-folio u-skew">
  <div class="o-wrapper u-unskew">
    <h2 class="c-folio__heading c-numbered">Portfolio</h2>
    
    <div class="o-grid -bottomed -justified c-folio__content">
      <div class="o-grid__item o-grid__item--8-12">
        
        <div class="c-folio__carousel Wallop Wallop--rotate">
          <div class="c-folio__carousel-list Wallop-list">
            <div class="c-folio__carousel-item Wallop-item Wallop-item--current js-item"
                 style="background-image: url('../assets/images/carousel/item2.gif')" 
                 data-title="Apple IIGS, most powerful of the Apple II family. lzawienie @ tumblr" />
            </div>
            <div class="c-folio__carousel-item Wallop-item js-item"
                 style="background-image: url('../assets/images/carousel/item3.jpg')" 
                 data-title="Not really us. vaporwave-it @ tumblr" />
            </div>
            <div class="c-folio__carousel-item Wallop-item js-item"
                 style="background-image: url('../assets/images/carousel/item1.gif')" 
                 data-title=" a e s t h e t i c . supyrb @ tumblr" />
            </div>
          </div>
          
          <div class="c-folio__carousel-controls">
            <div class="c-folio__carousel-buttons">
              <button class="c-folio__carousel-button -prev Wallop-buttonPrevious">
                <span class="u-visuallyhidden">Previous slide</span>
                <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <g>
                    <path fill="" id="svg_1" d="m28,14l-19.2,0l4.62,-4.62c0.394,-0.394 0.58,-0.864 0.58,-1.38c0,-0.984 -0.813,-2 -2,-2c-0.531,0 -0.994,0.193 -1.38,0.58l-7.958,7.958c-0.328,0.328 -0.662,0.733 -0.662,1.462s0.279,1.08 0.646,1.447001l7.974,7.973c0.386,0.386999 0.849,0.58 1.38,0.58c1.188,0 2,-1.016001 2,-2c0,-0.516001 -0.186,-0.986 -0.58,-1.379999l-4.62,-4.620001l19.2,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2z"/>
                  </g>
                </svg>
              </button>
              <button class="c-folio__carousel-button -next Wallop-buttonNext">
                <span class="u-visuallyhidden">Next slide</span>
                <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path fill="" transform="rotate(-180, 15.9448, 16)" id="svg_1" d="m27.944756,14l-19.2,0l4.62,-4.62c0.394,-0.394 0.58,-0.864 0.58,-1.38c0,-0.984 -0.813,-2 -2,-2c-0.531,0 -0.994,0.193 -1.38,0.58l-7.958,7.958c-0.328,0.328 -0.662,0.733 -0.662,1.462s0.279,1.08 0.646,1.447001l7.974,7.973c0.386,0.386999 0.849,0.58 1.38,0.58c1.188,0 2,-1.016001 2,-2c0,-0.516001 -0.186,-0.986 -0.58,-1.379999l-4.62,-4.620001l19.2,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2z"/>
                  </g>
                </svg>
              </button>  
            </div>
            
            <p class="c-folio__carousel-title js-title"></p>
            
            <div class="c-carousel__dots js-dots"></div>
          </div>
        </div>
        
      </div>
      <div class="c-folio__text o-grid__item o-grid__item--3-12">
        <h3>Liked?</h3>
        <p class="u-enlarged">Then we can <a href="" class="c-link">work together</a></p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's standard</strong> dummy text.</p>
      </div>
    </div>
  </div>
</section>