<section class="c-quote-section u-skew">
  <div class="o-wrapper u-unskew c-quote-section__content">
    <span class="c-emoji-accent" aria-hidden="true">
      🤓
    </span>
    <blockquote class="c-quote">
        <p>20% of work produce 80% of results</p>
        <footer class="c-quote__footer">
          <cite class="c-quote__author">Vilfredo Pareto</cite>
        </footer>
      </blockquote>
  </div>
</section>