<section class="c-reviews">
  <div class="o-wrapper c-reviews__content">
    <h2>Reviews <span class="u-highlight -doubleinverted">from clients</span></h2>
    
    <div class="o-grid -centered-x">
      <div class="o-grid__item o-grid__item--8-12">
        
        <div class="c-reviews__carousel Reviews Wallop--slide">
          <div class="c-reviews__carousel-list Wallop-list">
            <div class="c-reviews__carousel-item Wallop-item js-item">
              “Lorem Ipsum has been the industry's standard dummy text since the 1500s, when an 
unknown printer took a galley of type and scrambled it to make a type specimen book.”
            </div>
            <div class="c-reviews__carousel-item Wallop-item Wallop-item--current js-item">
              “Amazing brand, 10/10 would work again. <br> Also, <strong>my name is Jonas</strong> and I'm carrying the wheel.”
            </div>
            <div class="c-reviews__carousel-item Wallop-item js-item">
              “Lorem Ipsum has been the industry's standard dummy text since the 1500s, when an 
unknown printer took a galley of type and scrambled it to make a type specimen book.”
            </div>
          </div>
          
          <div class="c-reviews__carousel-controls js-dots">
            <button class="c-reviews__person js-dot">
              <img src="../assets/images/avi/tres.png" alt="Nick Jonas" class="c-reviews__person-avi">
              <p class="c-reviews__person-name">Cecilia de'Giorno</p>
              <p class="c-reviews__person-job">CTO at Company</p>
            </button>
            
            <button class="c-reviews__person -active js-dot">
              <img src="../assets/images/avi/uno.png" alt="Nick Jonas" class="c-reviews__person-avi">
              <p class="c-reviews__person-name">Nick Jonas</p>
              <p class="c-reviews__person-job">CEO at Casinos</p>
            </button>
            
            <button class="c-reviews__person js-dot">
              <img src="../assets/images/avi/dos.png" alt="Nick Jonas" class="c-reviews__person-avi">
              <p class="c-reviews__person-name">Frederico Fellini</p>
              <p class="c-reviews__person-job">Your local <br>screenwriter</p>
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>