<section class="c-who u-skew">
  <div class="o-wrapper u-unskew c-who__content">
    <div class="o-grid -centered">
      <div class="o-grid__item o-grid__item--6-12">
        <h2 class="c-numbered">Who?</h2>    
      </div>
      <div class="o-grid__item o-grid__item--4-12">
        <small class="c-who__subheading">About us</small>
        <p>We are a team of dedicated designers, hardcore developers and business wizards delivering powerful projects from the Nordic tech powerhouse, Estonia.</p>
        <a href="" class="c-link">Do you want to know more?</a>
      </div>  
    </div>
  </div>
</section>