// Page

$clr-bg: $color-lightest-grey;
$clr-text: $color-text;

html {  
  font-size: 62.5%;
  line-height: 2;
  overflow-x: hidden;
}

body {
  font-family: 'Klavika', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background: $clr-bg;
  color: $clr-text;
  -moz-osx-font-smoothing: grayscale;
  counter-reset: section;
  overflow-x: hidden;
}

