// Page

$clr-bg: $color-lightest-grey;
$clr-text: $color-text;

html {  
  font-size: 62.5%;
  line-height: 2;
  overflow-x: hidden;
}

body {
  font-family: 'Klavika', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background: $clr-bg;
  color: $clr-text;
  -moz-osx-font-smoothing: grayscale;
  counter-reset: section;
  overflow-x: hidden;
}

.c-main {
  position: relative;
  z-index: 2;
  margin-bottom: 43rem;
  background: $clr-bg;
  clip-path: polygon(0px 0px, 100% 0px, 100.4% 97.5367%, 1px 99.4677%);
}

@include bp-middle {
  .c-main {
    clip-path: none; 
  }
}

@media screen and (max-width: $bp-middle), screen and (max-height: 45rem) {
//@media screen and (max-height: 45rem) {
  .c-main {
    margin-bottom: 0; 
  }
}
