// Utilities
$clr-hl: $color-black;
$clr-hl-text: $color-white;
$clr-hli: $color-white;
$clr-hli-text: $color-red;

/* Hide visually but not from screen readers */
/* you can't see it, but it's there */
.u-visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.u-spacer {
  margin-bottom: 1rem;
}

.u-noscroll {
  overflow: hidden;
}

.u-highlight {
  background: $clr-hl;
  color: $clr-hl-text;
  padding: .1em 0.5ch;
  
  &.-inverted {
    background: $clr-hli;
    color: $clr-hli-text;
  }
}

.u-enlarged {
  font-size: 1.2em;
  margin-bottom: 0;
}

.u-skew {
  transform: skew(0, -7.43deg);
  transform-origin: 0;
}

.u-unskew {
  transform: skew(0, 7.43deg);
  transform-origin: 0;
}